{%- extends "visitor_area.twig" -%}


{%- block main_content -%}
    <h1>Vem riktar sig denna sida till?</h1>
    <p>Denna sida är till dig som
    <ul>
        <li>är lärare för en klass som ska besöka Naturskolan</li>
        <li>är administratör på en skola som har kontakt med Naturskolan</li>
        <li>vill hjälpa till med det logistiska kring ett besök på Naturskolan</li>
        <li>har på något sätt behov av att veta besöksdatum, specialkost eller annan nyttig information kring besöken</li>
    </ul>
    </p>
    <h1>Hur kommer jag in?</h1>
    <h2>Alternativ 1</h2>
    <p>Fråga någon av dina kollegor eller din skolas administratör som redan har tillgång till skolans besöksområde efter lösenordet till just din skola. Hen kommer åt det genom att klicka på "Visa lösenord". Det brukar vara några svenska ord med punkter emellan.</p>
    <p>Gå till <a href="">Inloggningssidan</a> och välj din skola. Mata nu in skolans lösenord.</p>

    <h2>Alternativ 2</h2>
    <p>Be en kollega eller administratör att lägga till dig till personalen i besöksområdet. Inom några timmar bör du få ett välkomstmejl som bland annat innehåller en direktlänk som tar dig direkt till området (utan att du behöver veta lösenordet).</p>

    <h1>Behöver jag kunna lösenordet utantill?</h1>
    <p>Troligtvis inte. När du loggar in eller följer direktlänken i ditt mejl placeras en (snäll) cookie som identifierar dig när du återkommer till sidan.</p>
    <p>Dock brukar den vara kopplat till din mobil/dator/surfplatta, dvs inloggningen kan behövas flera gånger.</p>

    <h1>Jag har en fråga som inte är med här!</h1>
    <p>Gå till <a href="contact">kontaktsidan</a> och ställ din fråga, så bör vi svara inom kort.</p>

{%- endblock -%}



