{%- extends "visitor_area.twig" -%}

{%- block main_content -%}
    {% set questions = ['target_group', 'get_in', 'pw', 'other'] %}
    <div id="accordion">
        {% for question in questions %}
            {% include('help/questions/'~ question ~ '.twig') %}
        {% endfor %}
    </div>
{%- endblock -%}
{#






#}



