aventyr_kalender.ics
PasswordHandler.php

cli-config.php
composer.lock
logg.txt
sandbox.php
settings.toml
test.php

backup/*
*.backup

docs/
misc/
old_files/
sigtunanaturskola.se/
temp/
tests/
vendor/
.htaccess
.log
test_*
.ftpconfig
