aventyr_kalender.ics

cli-config.php
settings.yml
test.php

backup/*

docs/
misc/
old_files/
vendor/
*.log
.idea/*

/kalender.ics
/src/Controller/SandboxController.php
/deployment/deployment.ini
/templates/sandbox.twig
/config/settings_prod.yml
/config/settings_default.yml
/config/settings_local.yml
/config/settings_test.yml

/tests/_data/*test_data.ods
/tests/_output/*
/tests/manual_testing.md
/tests/ods_to_sql.php
/tests/method_stubs.php
/tests/table_filler.php
/tests/sample_data/
