AddType 'text/calendar; charset=UTF-8' .ics

RewriteEngine on

RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} ^www\.
RewriteRule ^(.*)$ https://sigtunanaturskola.se/ndb/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]
#RewriteRule . maintenance.html [L]
