<!-- To the containing td-element with the image-background, add "padding: 0px 0px 10px 0px;" inside its style-attribute -->


<tr>
    <td>
        <!-- Button : BEGIN -->
        <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: auto;">
            <tr>
                <td style="border-radius: 10px; background: #222222; text-align: center;"
                    class="button-td">
                    <a href="### Button href here"
                       style="background: #222222; border: 15px solid #222222; font-size: 13px; line-height: 110%; text-align: center; text-decoration: none; display: block; border-radius: 10px; font-weight: bold;"
                       class="button-a" target="_blank">
                        &nbsp;&nbsp;&nbsp;&nbsp;<span
                            style="color:#ffffff;">### Button text here</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    </a>
                </td>
            </tr>
        </table>
        <!-- Button : END -->
    </td>
</tr>