{% extends 'help/question_template.twig' %}

{%- block q_title -%}Hur kommer jag in?{%- endblock -%}
{%- block q_answer -%}
    <h2>Alternativ 1</h2>
    <p>Fråga någon av dina kollegor eller din skolas administratör som redan har tillgång till skolans besöksportal efter lösenordet till just din skola. Hen kommer åt det genom att klicka på "Visa lösenord". Det brukar vara några ord med punkter emellan.</p>
    <p>Gå till <a href="">Inloggningssidan</a> och välj din skola. Mata nu in skolans lösenord.</p>

    <h2>Alternativ 2</h2>
    <p>Be en kollega eller administratör att lägga till dig till personalen i besöksportalen. Inom några timmar bör du få ett välkomstmejl som bland annat innehåller en direktlänk som tar dig direkt till området (utan att du behöver veta lösenordet).</p>
{%- endblock -%}
