{% extends 'help/question_template.twig' %}

{%- block q_title -%}Jag har en fråga som inte är med här!{%- endblock -%}
{%- block q_answer -%}
    <p>Gå till <a href="contact">kontaktsidan</a> och ställ din fråga, så bör vi svara inom kort.</p>
{%- endblock -%}
