{% extends 'help/question_template.twig' %}

{%- block q_title -%}Behöver jag kunna lösenordet utantill?{%- endblock -%}
{%- block q_answer -%}
    <p>Troligtvis inte. När du loggar in eller följer direktlänken i ditt mejl placeras en (snäll) cookie som identifierar dig när du återkommer till sidan.</p>
    <p>Dock brukar den vara kopplat till din mobil/dator/surfplatta, dvs inloggningen kan behövas flera gånger.</p>
{%- endblock -%}
