{% extends 'help/question_template.twig' %}

{% block q-title -%} Vem riktar sig denna sida till? {%- endblock %}
{% block q-answer -%}
<p>Denna sida är till dig som
<ul>
    <li>är lärare för en klass som ska besöka Naturskolan</li>
    <li>är administratör på en skola som har kontakt med Naturskolan</li>
    <li>vill hjälpa till med det logistiska kring ett besök på Naturskolan</li>
    <li>har på något sätt behov av att veta besöksdatum, specialkost eller annan nyttig information kring besöken</li>
</ul>
</p>
{%- endblock %}
