{%- extends "admin/admin_area.twig" -%}

{%- block content -%}
    <div class="admin-panel" id="missingGroups">
        <button class=".btn-primary">Lägg till resterande grupper</button>
        <select name="Segment">
            {% for value, label in DATA.segments %}
                <option value="{{ value }}">{{ label }}</option>
            {% endfor %}
        </select>
        <div class="result-box"></div>
    </div>
    <div class="admin-panel" id="cron-task-activation">
        {% for task in DATA.tasks %}
            <div class="checkbox">
                <label><input type="checkbox" name="{{ task.value }}"{% if task.status %} checked {% endif %}>
                    {{ task.label }}
                </label>
            </div>
        {% endfor %}
        <div class="result-box"></div>
    </div>
    <div class="admin-panel" id="manager-mobilization">
        <button class=".btn-primary">Skicka upprops-mejl till administratörerna</button>
        <div class="result-box"></div>
    </div>
{%- endblock -%}
