{%- extends "admin/admin_area.twig" -%}




{% block content %}
    <h1>Update or set group counts for schools</h1>
    <div class="set-group-count">
        <button id="clean">Clean up</button>
        <button id="update">Update these values in the database</button>
    </div>
    <div>
        <select name="start-year" id="start-year-selector">
            <option>{{ "-1 year"|date("Y") }}</option>
            <option selected>{{ "now"|date("Y") }}</option>
            <option>{{ "+1 year"|date("Y") }}</option>
        </select>
    </div>
    <textarea class="group-count-lines" cols="20" rows="50"></textarea>
{% endblock %}



