{%- extends "base.twig" -%}

{%- set topics = DATA.topics -%}

{% block content %}
    <select class="date-lines">
        <option value="multiple">Flera teman samtidigt</option>
        {% for topic in topics %}
            <option value="{{ topic.id }}">{{ topic.label }}</option>
        {% endfor %}
    </select>
    <div class="add-dates">
        <button id="clean">Clean up</button>
        <button id="add">Add to database</button>
    </div>
    <textarea class="date-lines" cols="20" rows="50"></textarea>
{% endblock %}

