<!DOCTYPE html>
<html>
{% htmlcompress %}
<head>
    {{ include('head.twig') }}
</head>
<body>
<div class="row top-row container-fluid">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="header">
            <div class="branding">
                <a href="">Naturskolans besöksportal</a>
            </div>
            {{ include('nav.twig') }}
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

{%- block toolbar -%}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 toolbar flexbox">
            <div class="entry-code" id="show-school-pw">
                <button type="button" class="btn btn-lg" data-school="{{ DATA.school_id }}" data-toggle="popover">Visa
                    skolans aktuella lösenord
                </button>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
{%- endblock -%}
<main>
    <div class="container-fluid">
        {%- block content -%}{%- endblock -%}
    </div>
</main>
<footer class="footer">
    <div class="container">
        <span class="save-time float-left" data-last-change=""></span>
        {%- block footer -%}{%- endblock -%}
    </div>
</footer>
</body>
{% endhtmlcompress %}
</html>














