{% import "macros.twig" as T %}
<!DOCTYPE html>
<html>
    <head>
        {{include("head.twig")}}
    </head>
    <body>
        {{include("navigation.twig")}}
        {{include("content.twig")}}
        {{include("footer.twig")}}
    </body>
</html>
