{%- extends "user_area.twig" -%}

{%- block toolbar -%}{%- endblock -%}

{% block modals %}
    <div id="login-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">
                        <span>&times</span>
                    </button>
                    <h4 class="modal-title">Ange skolans lösenord</h4>
                </div>
                <div class="modal-body">
                    <input type="password" name="password" placeholder="Lösenord"
                        {%- if DATA.password %} value="{{ DATA.password }}"{% endif -%} >
                    <label for="hide-password">Göm</label>
                    <input type="checkbox" class="btn btn-secondary" name="hide-password" checked>
                    <div class="response-text"></div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" id="forgot-pw-btn">Glömt ditt
                        lösenord?
                    </button>
                    <button class="btn btn-primary" id="login_modal_submit">Logga in</button>
                </div>
            </div>
        </div>
    </div>
    <div id="password-modal" data-backdrop="static" class="modal fade" tabindex="2" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">
                        <span>&times</span>
                    </button>
                    <h4 class="modal-title">Ange din officiella mejladress</h4>
                </div>
                <div class="modal-body">
                    <input type="text" name="mailaddress" placeholder="Din mejladdress">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" id="forgotten_password_submit">Skicka mejl med inloggningslänk
                    </button>
                </div>
            </div>
        </div>
    </div>
{%- endblock -%}
