{% extends 'user_area.twig' %}

{%- block school_area -%}
    <div class="row">
        <div class="col-md-3"></div>
        {# middle part -#}
        <div class="col-md-6">
            <div class="accordion" id="school-accordion">
                {% block staff_list %}
                    {% include('staff_list.twig') %}
                {% endblock %}
                {% block group_settings %}
                    {% include('group_settings.twig') %}
                {% endblock %}
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>


{% endblock %}
