{% extends 'base.twig' %}

{%- block content -%}
<div class="additional-information" data-default-properties='{"School":"{{ DATA.school_id }}"}'></div>
    {%- block school_area -%}{%- endblock -%}
    {%- block modals -%}{%- endblock -%}
{%- endblock -%}

