{% extends 'base.twig' %}

{%- block toolbar -%}{%- endblock -%}

{%- block content -%}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 pt-5">

        {%- block main_content -%}{%- endblock -%}
    </div>
    <div class="col-md-2"></div>
{%- endblock -%}


