{%- extends "user_area.twig" -%}

{%- set visit_label = DATA.visit_label -%}
{%- block toolbar -%}{%- endblock -%}
{% block school_area %}
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">Besök bekräftad!</h5>
            <p class="card-text">Ditt besök på {{ DATA.visit_date }}, {{ DATA.visit_label }} är bekräftad. Tack!</p>
        </div>
    </div>
{%- endblock -%}
