<html>
{% set user = DATA.user %}
{% set nr_groups = user.groups|length %}

{% block body_header %}
Sigtuna Naturskola informerar....
{% endblock %}

{% block greetings %}
    <h1>Hej {{ user.fname }}!</h1>
{% endblock %}

{% block body_text %}{% endblock %}

{% block after_body_text %}{% endblock %}

{% block signature %}
<h3>Hälsningar, vi från Naturskolan!</h3>
{% endblock %}
<hr><hr>
{% block links %}
   <ul>
    <li><a href="{{ user.school_url }}" target="_blank">Din skolas besöksportal</a><br>
    Här kan du ange elevernas specialkost, lägga till kollegor, se dina besöksdatum och annat.</li>
       <li><a href="https://www.sigtunanaturskola.se/vanliga-fragor" target="_blank">Vanliga frågor</a><br>
     Om du undrar nåt över besöken, administration eller annat.</li>
       <li><a href="https://www.sigtunanaturskola.se/kontakta-oss" target="_blank">Kontakta oss!</a><br>
     Tveka inte att höra av dig via mejl, mobil eller fast telefon.</li>
   </ul>
{% endblock %}
</html>