{% extends "mail/common/base_mail.twig" %}

{%- set errors, labels = DATA.errors, DATA.labels -%}

{% block title %}Status av databasen{% endblock %}

{% block preheader_text %}
    Administratörs-sammanfattning: Statusen av databasen
{% endblock %}

{% block body_header %}{% endblock %}
{% block image_with_text %}{% endblock %}
{% block greetings %}{% endblock %}

{% block body_text %}
    <tr>
        <td bgcolor="#ffffff" style="padding: 20px 0px 0px 0px ; text-align: center;">
            <h1 style="margin: 0; font-size: 24px; line-height: 125%; color: #000000; font-weight: normal;">Status av databasen</h1>
        </td>
    </tr>
    <tr>
        <td bgcolor="#ffffff"
            style="padding: 20px 0px 0px 0px; font-size: 10px; line-height: 100%; color: #000000; text-align: left;">
            {% for key, error_rows in errors %}
                <h2 style="padding: 10px 0px 0px 0px;">{{ attribute(labels, key) }}</h2>
                <ul>
                    {% for row in error_rows -%}
                        <li>
                            {{- row -}}
                        </li>
                    {%- endfor %}
                </ul>
            {%- endfor -%}
        </td>
    </tr>
{% endblock %}

{% block three_columns %}{% endblock %}
{% block social %}{% endblock %}
{% block footer %}{% endblock %}
{% block full_bleed_background_section %}{% endblock %}
{% block why_this_mail %}{% endblock %}
