{% extends "mail/common/base_mail_raw.twig" %}

{% block body_text %}
    <p>För att kunna nå dig i sista minuten (buss försenad, sjukdomsfall, etc) behöver vi ett mobilnummer till dig.</p>
    <p>Vi kommer endast kontakta dig med ärenden angående besöken hos oss och kommer inte att ge ditt nummer vidare. Tack för din förståelse!</p>

    <p>Följ <a href="{{ school_url }}" target="_blank">denna länk</a> och anteckna ditt mobilnummer i personallistan.</p>
{% endblock %}
