{{ include('mail_head.twig') }}

<table class="body">
    <tr>
        <td class="center" align="center" valign="top">
            <center>
                <container>
                    <spacer size="32"></spacer>
                    <row>
                        <columns>
                            <center>
                                <img src="" alt="" class="logo">
                            </center>
                        </columns>
                    </row>
                    <row>
                        <columns>
                            <h1>Hej, {{ DATA.fname }}!</h1>
                            <p>
                                Du eller någon annan har angett att du behöver skolans lösenord!
                            </p>
                        </columns>
                    </row>

                    <spacer size="20"></spacer>
                    <center>
                        <button class="large" href="{{ DATA.password_link }}">Följ denna länk för att se ditt lösenord!</button>
                    </center>
                    <spacer size="20"></spacer>
                    <p>
                        Med glada hälsningar,<br />
                        vi från <a href="http://www.sigtunanaturskola.se/">Naturskolan!</a>
                    </p>
                    <hr />
                    <center>
                        <button class="secondary rounded" href="http://www.sigtunanaturskola.se/kontakta-oss/">Kontakta oss</button>
                    </center>
                </container>
            </center>
        </td>
    </tr>
</table>
