{% extends "mail/common/base_mail.twig" %}

{% block body_text %}
<p>Om vi har förstått rätt, så har du glömt lösenordet. Stämmer det?</p>

<p>I så fall, följ bara <a href="{{ DATA.password_link }}" target="_blank">denna länk</a>.</p>

<p>Om du inte har glömt ditt lösenord och inte heller beställt att få se lösenordet via inloggningen på Sigtuna Naturskolas databas, så har någon obehörig angett din address. Hör av dig om detta händer upprepade gånger.</p>
{% endblock %}
