{% extends "common/base_mail.twig" %}

{% block title %}Glömt ditt lösenord?{% endblock %}

{% block preheader_text %}
    Här kommer en länk som leder dig till Naturskolans användarområde. Där kommer du få se det aktuella lösenordet.
{% endblock %}

{% block image_text_box %}
    <div>
        <table role="presentation" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td valign="middle"
                    style="text-align: center; padding: 40px; font-size: 20px; font-weight: 900; line-height: 140%; color: #000000;">
                    <p style="margin: 0;">Har du glömt ditt lösenord?</p>
                    <p style="margin: 0;">Ingen fara!</p>
                </td>
            </tr>
            <tr>
                <td>
                    <!-- Button : BEGIN -->
                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: auto;">
                        <tr>
                            <td style="border-radius: 10px; background: #222222; text-align: center;"
                                class="button-td">
                                <a href="{{ password_link }}"
                                   style="background: #222222; border: 15px solid #222222; font-size: 13px; line-height: 110%; text-align: center; text-decoration: none; display: block; border-radius: 10px; font-weight: bold;"
                                   class="button-a" target="_blank">
                                    &nbsp;&nbsp;&nbsp;&nbsp;<span
                                        style="color:#ffffff;">Följ denna länk för att se ditt lösenord!</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                </a>
                            </td>
                        </tr>
                    </table>
                    <!-- Button : END -->
                </td>
            </tr>
        </table>
    </div>
{% endblock %}

{% block body_text %}
    <p style="margin: 0;">Om vi har förstått rätt, så har du glömt lösenordet. Stämmer det?</p>
    <p style="margin: 0;">I så fall, följ bara länken ovan och se ditt lösenord klart och tydligt inom din skolas användarområde.</p>
    <p style="margin: 0;">Om du inte har glömt ditt lösenord och inte heller beställt att få se lösenordet via inloggningen på Sigtuna Naturskolas databas, så har någon obehörig angett din address.</p>
    <p style="margin: 0;">Hör av dig om detta händer upprepade gånger.</p>
{% endblock %}

{% block why_this_mail %}
    <p style="margin: 0;">Du eller någon annan har försökt att logga in på din skolas användarområde för Sigtuna Naturskolas databas, men glömt lösenordet.</p>
    <p style="margin: 0;">Eftersom du eller någon annan angav din adress och du redan var registrerat hos oss, fick du detta mejl med en länk.</p>
    <p style="margin: 0;">Ifall detta är ett misstag, så föreligger kanske nåt fuffens. Hör av dig till oss, så kollar vi på problemet!</p>
{% endblock %}
