{# find this on https://jsfiddle.net/t1nkupx0/ #}
{{ include('mail_head.twig') }}

<body>
<table width="100%" bgcolor="#8d8e90">
  <tr>
    <td><table width="600" bgcolor="#FFFFFF" align="center">
        <tr>
          <td><table width="100%">
              <tr>
                <td width="61"><a href= "http://yourlink" target="_blank"><img src="images/PROMO-GREEN2_01_01.jpg" width="61" height="76" alt=""/></a></td>
                <td width="144"><a href= "http://yourlink" target="_blank"><img src="images/PROMO-GREEN2_01_02.jpg" width="144" height="76" alt=""/></a></td>
                <td width="393"><table width="100%">
                    <tr>
                      <td height="46" align="right" valign="middle"><table width="100%">
                          <tr>
                            <td width="67%" align="right"><span class="grey myriad upper class19"><a href= "http://yourlink" class="grey no-deco"><strong>SEND TO A FRIEND</strong></a></span></td>
                            <td width="29%" align="right"><span class="grey myriad class19"><a href= "http://yourlink" class="grey no-deco upper"><strong>VIEW AS A WEB PAGE</strong></a></span></td>
                            <td width="4%"></td>
                          </tr>
                        </table></td>
                    </tr>
                    <tr>
                      <td height="30"><img src="images/PROMO-GREEN2_01_04.jpg" width="393" height="30" alt=""/></td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>
         <tr>
          <td align="center"><span class="grey myriad upper class18"><strong>N E W S L E T T E R</strong></span></td>
        </tr>
        <tr>
          <td align="center"><a href= "http://yourlink" target="_blank"><img src="images/PROMO-GREEN2_02.jpg" alt="" width="598" height="249"/></a></td>
        </tr>
        <tr>
          <td><table width="100%">
              <tr>
                <td width="7%"></td>
                <td width="58%" align="left" valign="top"><table width="100%">
                  <tr>
                    <td></td>
                  </tr>
                  <tr>
                    <td align="left" valign="top"><table width="100%">
                      <tr>
                        <td width="95%"><table width="100%">
                          <tr>
                            <td height="35" align="left" valign="middle" class="class02"><span class="black georgia class11"><strong><em>Main Feature Story</em></strong></span></td>
                          </tr>
                          <tr>
                            <td align="left" valign="top"><span class="black verdana class15">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio t non</span> <span class="orange verdana class21"><a href= "http://yourlink" class="orange no-deco"><strong><em>read more} </em></strong></a></span></td>
                          </tr>
                          <tr>
                            <td><table width="100%">
                              <tr>
                                <td height="10" class="class03"></td>
                              </tr>
                              <tr>
                                <td height="10"></td>
                              </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td><table width="100%">
                              <tr>
                                <td width="43%"><img src="images/NEWSLETTER GREEN01.jpg" width="150" height="130" alt=""/></td>
                                <td width="57%" align="left" valign="top"><span class="georgia class12"><strong><em>Second feature</em></strong></span> <br />
                                  <span class="black verdana class15">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quisn</span> <span class="orange verdana class21"><a href= "http://yourlink" class="orange no-deco"><strong><em>read more} </em></strong></a></span><span class="black verdana class15"> </span></td>
                              </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td><table width="100%">
                              <tr>
                                <td height="10" class="class03"></td>
                              </tr>
                              <tr>
                                <td height="10"></td>
                              </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td><table width="100%">
                              <tr>
                                <td width="43%"><img src="images/NEWSLETTER GREEN02.jpg" width="150" height="130" alt=""/></td>
                                <td width="57%" align="left" valign="top"><span class="georgia class12"><strong><em>Second feature</em></strong></span> <br />
                                  <span class="black verdana class15">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quisn</span> <span class="orange verdana class21"><a href= "http://yourlink" class="orange no-deco"><strong><em>read more} </em></strong></a></span><span class="black verdana class15"> </span></td>
                              </tr>
                            </table></td>
                          </tr>
                        </table></td>
                        <td width="5%" class="class04"></td>
                      </tr>
                    </table></td>
                  </tr>
                </table></td>
                <td width="35%" align="left" valign="top"><table width="100%">
                  <tr>
                    <td width="82%" align="left" valign="top"><table width="100%">
                      <tr>
                        <td height="10"> </td>
                      </tr>
                      <tr>
                        <td><table width="100%">
                          <tr>
                            <td><a href="http://yourlink" target="_blank"><img src="images/NEWSLETTER GREEN03.jpg" alt="buy her" width="181" height="144"/></a></td>
                          </tr>
                          <tr>
                            <td><table width="100%">
                              <tr>
                                <td width="12%"></td>
                                <td width="79%" bgcolor="#f58220"><table width="100%">
                                  <tr>
                                    <td width="5%"></td>
                                    <td width="90%" height="10"></td>
                                    <td width="5%"></td>
                                  </tr>
                                  <tr>
                                    <td></td>
                                    <td align="center"><span class="white georgia class14"><strong>SPECIAL
                                      COLUMN</strong></span></td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td></td>
                                    <td><table width="100%">
                                      <tr>
                                        <td height="5" class="class01"></td>
                                      </tr>
                                      <tr>
                                        <td height="5"></td>
                                      </tr>
                                    </table></td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td></td>
                                    <td align="left" valign="top"><span class="white georgia class13">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, <span class="white verdana class21"><a href= "http://yourlink" class="white no-deco"><strong><em>read more} </em></strong></a></span></span></td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td></td>
                                    <td align="center"><a href="http://yourlink" target="_blank"><img src="images/NEWSLETTER GREEN04.jpg" alt="view more offers" width="129" height="43" class="class10"/></a></td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                </table></td>
                                <td width="9%" ></td>
                              </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td></td>
                          </tr>
                        </table></td>
                      </tr>
                    </table></td>
                    <td width="8%"></td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td><img src="images/PROMO-GREEN2_07.jpg" width="598" height="7" class="class10" alt=""/></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td><table width="100%">
            <tr>
              <td width="13%" align="center"></td>
              <td width="14%" align="center"><span class="blackish myriad upper class16"><a href= "http://yourlink" class="blackish no-deco"><strong>UNSUBSCRIBE </strong></a></span></td>
              <td width="2%" align="center"><span class="blackish myriad upper class16"><strong>|</strong></span></td>
              <td width="9%" align="center"><span class="blackish myriad upper class16"><a href= "http://yourlink" class="blackish no-deco"><strong>ABOUT </strong></a></span></td>
              <td width="2%" align="center"><span class="blackish myriad upper class16"><strong>|</strong></span></td>
              <td width="10%" align="center"><span class="blackish myriad upper class16"><a href= "http://yourlink" class="blackish no-deco"><strong>PRESS </strong></a></span></td>
              <td width="2%" align="center"><span class="blackish myriad upper class16"><strong>|</strong></span></td>
              <td width="11%" align="center"><span class="blackish myriad upper class16"><a href= "http://yourlink" class="blackish no-deco"><strong>CONTACT </strong></a></span></td>
              <td width="2%" align="center"><span class="blackish myriad upper class16"><strong>|</strong></span></td>
              <td width="17%" align="center"><span class="blackish myriad upper class16"><a href= "http://yourlink" class="blackish no-deco"><strong>STAY CONNECTED</strong></a></span></td>
              <td width="4%" align="right"><a href="https://www.facebook.com/" target="_blank"><img src="images/PROMO-GREEN2_09_01.jpg" alt="facebook" width="21" height="19" /></a></td>
              <td width="5%" align="center"><a href="https://twitter.com/" target="_blank"><img src="images/PROMO-GREEN2_09_02.jpg" alt="twitter" width="23" height="19" /></a></td>
              <td width="4%" align="right"><a href="http://www.linkedin.com/" target="_blank"><img src="images/PROMO-GREEN2_09_03.jpg" alt="linkedin" width="20" height="19" /></a></td>
              <td width="5%"></td>
            </tr>
          </table></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td align="center"><span class="myriad class17"><strong>Head Office &amp; Registered Office | Company name Ltd, Adress Line, Company Street, City, State, Zip Code | Tel: 123 555 555 | <a href= "http://yourlink" class="blackish no-deco">customercare@company.com</a></strong></span></td>
        </tr>
        <tr>
          <td></td>
        </tr>
      </table></td>
  </tr>
</table>
</body>
</html>
