body {
    background-color: "#8d8e90";
}

td {
    padding: 0px;
}

table {
    border-spacing: 0px;
}

.myriad  {
    font-family:'Myriad Pro', Helvetica, Arial, sans-serif;
}

.blackish {
    color:#010203;
}

.orange  {
    color:#f58220;
}

.verdana {
    font-family: Verdana, Geneva, sans-serif;
}

.upper  {
    text-transform:uppercase;
}

.georgia {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.no-deco {
    text-decoration:none;
}

.white  {
    color:#ffffff;
}

.grey  {
    color:#68696a;
}

.black  {
    color:#000000;
}

.class01 {
    border-bottom:1px solid #ffffff;
}

.class02 {
    border-bottom:2px dotted #000000;
}

.class03 {
    border-bottom:4px solid #d0d1d3;
}

.class04 {
    border-right:2px dashed #95989a;
}

.class10 {
    display:block;
}

.class11 {
    font-size:25px;
}

.class12 {
    font-size:20px;
}

.class13 {
    font-size:14px;
}
line-height:21px;
}

.class14 {
    font-size:16px;
}

.class15 {
    font-size:13px;
}
line-height:21px;
}

.class16 {
    font-size:9px;
}

.class17 {
    color:#231f20;
}
font-size:8px;
}

.class18 {
    font-size:36px;
}

.class19 {
    font-size:8px;
}

.class22 {
    font-size:12px;
    line-height:20px;
}
